// Default BuildServer Java security policy file.

// The following properties are defined:
//
// buildserver.junit.jar.file - the junit.jar file,
//     for granting permissions to junit
// buildserver.test.jar.file - the project jarfile,
//     for granting permissions to our testing code
// buildserver.tester.codebase - codebase of the
//     BuildServer and its test front-end code

// Default permissions
grant {
	// Properties may be read
	permission java.util.PropertyPermission "*", "read";
	// permission java.net.SocketPermission "localhost:*", "connect,accept";
    permission java.net.SocketPermission "www.cs.umd.edu:80", "connect";
	// We run the tester in the directory with the test files.
	// So, files in current directory and subdirectories
	// may be read.
	// permission java.io.FilePermission "-", "read";
	//	permission java.security.AllPermission;

    // Required by CLOVER for code coverage-- DO NOT CHANGE!
    permission java.io.FilePermission "/tmp/*", "read,write,execute,delete";
    permission java.lang.RuntimePermission "shutdownHooks";
};

// Permissions granted only to junit
grant codeBase "file:${buildserver.junit.jar.file}" {
	permission java.security.AllPermission;
};

// Permissions that are granted only to our test code
grant codeBase "file:${buildserver.test.jar.file}" {
	permission java.security.AllPermission;
};

// Permissions granted to the build server and test harness
grant codeBase "file:${buildserver.tester.codebase}/-" {
	permission java.security.AllPermission;
};
